<div>
    <p class="lead">All members that using this app:</p>
    <ul class="list-group list-group-flush">
        <% dataMember.forEach (e => { %>
            <li class="list-group-item"><%= e.uname %>#<%= e.id %> </li>
        <% }) %>
    </ul>
</div>