<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Back</title>
</head>
<body>
    <h1>Login</h1>
    <div>
        <form action="/users/login" method="post">
            <label for="">Username :   </label>
            <input type="text" name="uname"><br>
            <label for="">Pasword :</label>
            <input type="password" name="pw"><br>
            <button type="submit">Login</button>
        </form>
        <%= err ? "Data tidak ditemukan, masukkan Data dengan benar!" : '' %> 
    </div>
    <%- include('./partials/members') %>
</body>
</html>