<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
</head>
<body>
    <h1>Perbarui Data</h1>
    <div>
        <form action="/users/update/<%= data.uname %> " method="post">
            <label for="">Username :   </label>
            <input type="text" name="uname" value="<%= data.uname %>"><br>
            <label for="">Email :</label>
            <input type="email" name="pw" value="<%= data.email %>"><br><br>
            <button type="submit">Perbarui Data</button>
        </form>
    </div>
    <a href="/users/delete/<%= data.uname %>">Hapus Akun</a>
</body>
</html>