<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new note</title>
</head>
<body>
    <h1>Add a new note</h1>
    <form action="/boards/<%=id%>/notes/add" method="POST">
        <textarea rows="10" cols="50" name="note"> Enter text here...</textarea><br>

        <label for="cover_img">URL Image for cover:</label><br>
        <input type="text" id="cover_img" name="cover_img"><br>

        <button type="submit">Post</button>
        <button type="button"><a href="/boards/<%=id%>">Cancel</a></button>
    </form>
</body>
</html>